/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

/* COMMON */

body{
    height: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: aqua; */
    
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: #5c5c5c;
}

/* MAIN */

.container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    
}

.box-left{
    /* width: 25%;  */
    background-color: lightblue;
    height: 85vh;
    padding: 13px 13px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.box-right{
    display: flex;
    flex-direction: column;
    /* width: 75%; */
    flex-grow: 1;
    /* height: 85vh;     */
    /* background-color: chocolate; */
}

.right-header{
    background-color: #10131a;
    color: #ffffff;
    flex-grow: 1;
    height: 13vh;
}

.right-main{
    background-color: #151922;
    color: #ffffff;
    flex-grow: 1;
    height: 72vh;
}

/* BOX-LEFT */
.box-left{
    background-color: #000000;
    color: #5c5c5c;
    
    
}
#logo{
    display: none;
}

#logo-small{
    width: 27px;
}

.box-left ul{
    margin-top: 30px;
}


.box-left li img{
    display: inline;
    width: 26px; 
     
}

.main-menu-desc{
    display: none;
}

.left-center{
    margin-top: 70px;
}

.playlist{
    
    color: #858585;
    display: none; 
}

.playlist h4{
    color: #ffffff;
    
}

.playlist li a{
    color: #858585;
    line-height: 30px;

}

.add-playlist{
    display: flex;
    align-items: center;
}

.fa-square-plus{
    font-size: 25px;
}

.left-bottom{
margin-top: auto;
}

.download img{
    display: inline-block;
    width: 13px;
    
}

.install,.profile,.hr {
    display: none;
}




/* FOOTER */

footer{
    width: 100%;
    height: 15vh;
    background-color: #282828;
}



/* RESPONSIVE */

/* TABLET */


/* @media screen and (min-width:768px)  {
    
} */



/* COMPUTER */

@media screen and (min-width:1024px)  {

    #logo {
        display: block;
    }

    #logo-small {
        display: none;
    }

    .main-menu-desc{
        display: unset;
    }

    .playlist {
        display: unset;   
    }
    
    .install,.profile{
        display: unset;
    }

    .hr{
        display: block;
        border: 1px solid #5c5c5c;
    }

    .profile{
        color: #ffffff;
        
    }
}
